body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DEF5E5;
}

h1{
    font-family:fantasy;
    text-shadow: 2px 2px 8px #379237;
}

canvas{
    box-shadow: #379237 20px 10px 50px;
    margin-top: 3rem;

}

* {
    margin:0; padding:0;
    box-sizing: border-box;
    transition:.2s linear;
}
body.active{
   background:#222;
}


header{
    display: flex;
    margin-left: auto;
}
header .icons  {
    padding-top: 1rem;

}
header .icons div{
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    margin-right: .5rem; 
    
}
header .icons div:hover{
    background: #ff9502;
    color:#fff;
    transform:scale(1.1);
}